<% if upload.files.any? %>
    <% upload.files.each do |file| %>
        <% if file.variable? %>
            <div class="row">
            <% upload.files.each do |file| %>
                <% if files.images? %>
                <div class="message-image-container">
                    <%= image_tag(files, class: "message-image") %>
                </div>
                <% end %>
            <% end %>
            </div>
  <% end %>
<% end %>
<% end %>